# Ignore workspace folder of text editor
.vscode

# Byte-compiled / optimized / DLL files
__pycache__
.pytest_cache/

# Ignore project files and directories
scripts/scripts.py
tests/units/debug
scripts/env
ideas.txt